<div class="flex py-4 items-center">
    <div class="flex-grow uppercase font-medium text-xl tracking-widest">
        Salt & Surf
    </div>
    <div class="flex -mx-2">
        <div
            class="mx-2 cursor-pointer"
            *ngFor="let item of navItems"
            (click)="navigateToUrl(item.slug)"
        >
            {{ item.title }}
        </div>
    </div>

    <div class="mx-7">
        <app-icon iconName="cart"></app-icon>
    </div>

    <app-button>Sign up</app-button>
</div>
