<div
    class="h-full bg-cover bg-right-bottom lg:bg-bottom pb-40 xl:pb-60"
    [ngStyle]="{ 'background-image': getUrl() }"
>
    <saltsurf-header variant="light"></saltsurf-header>

    <div class="container mx-auto px-5 lg:px-auto">
        <div class="lg:w-5/12 ml-auto">
            <h1 class="typo-vander text-white pt-32 pb-6">
                Welcome to all things surf
            </h1>

            <saltsurf-button type="light">Shop All</saltsurf-button>
        </div>
    </div>
</div>

<div class="container mx-auto mt-20 px-5 xl:px-40">
    <div class="flex flex-col mb-20">
        <p class="typo-jinx mx-auto text-center">our products</p>
        <h1 class="typo-silco mx-auto text-center">See our shop</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-6 gap-x-20">
        <saltsurf-category-item
            class="lg:even:mt-16"
            *ngFor="let item of categoryItems"
            [item]="item"
        ></saltsurf-category-item>
    </div>
</div>
