/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.typo-vander {
    @apply text-5xl lg:text-6xl font-bold uppercase;
    line-height: 1.2;
}

.typo-silco {
    @apply text-4xl font-semibold uppercase leading-tight tracking-widest;
}

.typo-vi {
    @apply text-2xl font-semibold uppercase leading-tight tracking-widest;
}

.typo-caitlyn {
    @apply text-xl font-semibold uppercase leading-tight tracking-widest;
}

.typo-ekko {
    @apply text-xl font-medium uppercase;
}

.typo-jinx {
    @apply text-lg font-medium uppercase text-surf-blue;
}

.typo-powder {
    @apply text-sm font-normal;
}

input {
    @apply border-b py-2 focus:outline-none focus:border-surf-blue;
}
