<div class="bg-surf-gray-100 mt-20">
    <div
        class="container mx-auto px-5 xl:px-40 py-20 -my-4 flex flex-col md:flex-row"
    >
        <div class="flex-grow my-4">
            <h3 class="typo-caitlyn mb-4">Help & contact</h3>
            <p class="mb-2">Shipping information</p>
            <p class="mb-2">Track your order</p>
            <p class="mb-2">Return your order</p>
        </div>

        <div class="flex-grow my-4">
            <h3 class="typo-caitlyn mb-4">About us</h3>
            <p class="mb-2">Who we are</p>
            <p class="mb-2">Our partners</p>
            <p class="mb-2">Become a member</p>
        </div>

        <div>
            <h3 class="typo-caitlyn mb-4 my-4">Our products</h3>
            <p class="mb-2">Surfboards & Equipment</p>
            <p class="mb-2">Surfwear Women</p>
            <p class="mb-2">Surfwear Men</p>
        </div>
    </div>
</div>

<div class="bg-surf-gray-900 py-16">
    <div class="container mx-auto lg:px-40 flex text-white">
        <p class="mr-3">Privacy Policy</p>
        <p>Imprint</p>
    </div>
</div>
